# VSCode Extension
codetype-vscode/out/
codetype-vscode/node_modules/
codetype-vscode/*.vsix
codetype-vscode/.vscode-test/
codetype-vscode/worker/node_modules/
codetype-vscode/worker/.wrangler/

# Website
codetype-website/node_modules/
codetype-website/_site/

# General
*.log
.DS_Store

# Claude
.claude/
